<div class="card" data-ng-repeat="card in itemList | limitTo:showProducts | orderBy:sortItem | filter:search">
    <div class="card-item">
        <img class="" src="{{ card.image }}" alt="">
    </div>
    <h3 class="card-title">{{ card.productname }}</h3>
    <span class="card-price">{{ card.price }} kr</span>
    <span class="card-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
            class="fas fa-star"></i><i class="fas fa-star"></i></span>
</div>