<div class="card-section">
    <div class="card" data-ng-repeat="card in itemList | limitTo:showProducts | orderBy:sortItem | filter:search">

        <div class="card-item">
            <img class="" src="{{ card.image }}" alt="">
        </div>
        <h3 class="card-title">{{ card.productname }}</h3>
        <span class="card-price">{{ card.price }} kr</span>
        <div class="card-rating">
            <div class="card-rating-stars" data-ng-style="{ 'width': rating(card.rating) }"></div>
        </div>
        <button class="add-to-cart" data-ng-click="addToCart">Köp</button>

    </div>
</div>